.new_pass__img img {
  width: 25%;
  margin: 0 1rem;
}

.new_pass__title {
  font-weight: 500;
  font-size: 1rem;
  margin: 0.9rem 0.9rem;
}

.new_pass__error {
  margin: 0 0.9rem;
}

.new_pass__form__div {
  position: relative;
  height: 48px;
  margin: 0.6rem 0.9rem 0 0.9rem;
}

.new_pass__form__div .new_pass__textfield {
  font-size: 0.9375rem;
  min-width: 100%;
}

.new_pass__btn_div {
  margin: 0 0.9rem 0.6rem 0.9rem;
  text-align: center;
}

.new_pass__btn {
  width: 100%;
  opacity: 0.8;
  padding: 0.5rem 1rem !important;
}

.new_pass__btn:focus {
  outline: none;
  border: none;
}
