.signup_otp_title {
  font-weight: 500;
  font-size: 0.875rem;
  padding: 0.8rem 0 0.4rem 0;
}
.signup_otp__error {
  margin: 0 0 0.9rem 0;
}

.signup_otp__form__div {
  position: relative;
  height: 48px;
  margin: 0.6rem 0.9rem 0 0.9rem;
}

.signup_otp__form__div .signup_otp__textfield {
  font-size: 0.9375rem;
  min-width: 100%;
}

.signup_otp__btn_div {
  padding: 0.6rem 0 0 0;
}
.signup_otp__btn {
  opacity: 0.8;
  min-width: 50% !important;
}

.signup_otp__btn:focus {
  outline: none;
  border: none;
}
