.login_forgot__img img {
  width: 25%;
  margin: 0 1rem;
}

.login_forgot__title {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 0.9rem 0.9rem;
}

.login_forgot__para {
  margin: 0 0 0 0.9rem;
}

.login_forgot__error {
  margin: 0 0.9rem;
}

.login_forgot__form__div {
  position: relative;
  height: 48px;
  margin: 0.9rem 0.9rem 0 0.9rem;
}

.login_forgot__form__div .login_forgot__textfield {
  font-size: 0.9375rem;
  min-width: 100%;
}

.login_forgot__btn {
  opacity: 0.8;
  min-width: 50% !important;
}

.login_forgot__btn:focus {
  outline: none;
  border: none;
}

.login_forgot__resend_div {
  margin: 0.6rem 0.9rem 0 0.9rem;
}

.login_forgot__resend {
  color: #000;
  margin-top: 0.5rem;
  font-variant-numeric: tabular-nums;
}
