.change_pass_btn_div {
  text-align: center;
  margin: 0.875rem 0;
}

.change_pass_btn_div button {
  opacity: 0.8;
  padding: 0.5rem 2.5rem;
}

.change_pass_btn_div button:focus {
  outline: none;
  border: none;
}
