body{
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  outline: none;
}
body {
  font-family: 'Poppins', sans-serif;
  color: #343a40;
  background: #fff;
  font-size: 15px;
}
p {
  line-height: 1.8;
}

ul {
  padding-inline-start: 0px !important;
}
